ul.menu-gang {
    display: flex;
    list-style: none;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.Menu-tren {
    background-color: #007bff;
    height: 100px;
    width: 100%;
}
ul.menu-gang a {
    color: white;
    text-decoration: none;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    padding-top: 30px;
    display: block;
    padding-left: 150px ;
    padding-right: 150px;
    padding-bottom: 35px;
    transition: 0.4s;

}
ul.menu-gang a:hover {
    background-color: rgb(45, 35, 134);
    padding-top: 26px  ;
}